<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="configFileName" value="internal\Web.Config"/>
    <add key="scriptRunDir" value="..\SQL"/>
    <add key="runScriptExe" value="CMD.EXE"/>
    <add key="runScriptParam" value="/C SQL_Setupcmd.bat {0} {1} {2}"/>
    <add key="databaseName" value="meetMasterData"/>
    <add key="virtualEndPoint" value="/EjsWcfSvc/"/>
    <add key="runMsiSetup" value="internal\setup.exe"/>
  </appSettings>
</configuration>